<div class="form-group">
  <label class="col-sm-3 control-label">Active Macros</label>
  <div class="col-sm-7">
    <a class="btn btn-default" ng-click="add_macro()">Add Macro</a>
  </div>
</div><!-- End of 'Add Macro' -->

<div ng-repeat="active_macro in active_macros">
  <div class="form-group">
    <div class="form-inline">
      <div class="col-sm-7 col-sm-offset-3">
        <select id="type"
          class="input-large form-control" style="display: inline;"
          ng-options="key as key for (key, value) in CreativeMacrosByFormat( format )"
          ng-change="update_macro( active_macro )"
          ng-model="active_macro.name">
          <option value="" disabled selected>-- Select Macro --</option>
        </select>
        <div class="checkbox">
          <input type="checkbox"
            class="checkbox" style="display: inline;"
            ng-change="update_macro( active_macro )"
            ng-model="active_macro.url_encoded"> URL Encoded</input>
        </div>
        <a class="btn btn-info" ng-click="remove_macro( active_macro )">Remove</a>
      </div>
    </div><!-- End of 'Active Macros' -->
  </div>
</div>

<div class="form-group">
  <label class="col-sm-3 control-label" for="ad_base_url">Ad Base URL</label>
  <div class="col-sm-7">
    <textarea id="ad_base_url" name="ad_base_url" required
      rows="5"
      class="form-control"
      ng-model="ad_tag_url"
      ng-change="update_macros( ad_tag_url )"></textarea>
  </div>
</div><!-- End of 'Ad Base Url' -->

<div class="form-group">
  <label class="col-sm-3 control-label" for="macro_locator">Macro Locator</label>
  <div class="col-sm-7">
    <label id="macro_locator" style="word-wrap: break-word;">
      <span ng-bind-html="pretty_url"></span>
    </label>
  </div>
</div><!-- End of 'Location of Macros' -->
