
[pl-form-validate] {

  .has-error {

    [pl-form-validate-errors]:after,
    &[pl-form-validate-errors]:after {
      content: attr(pl-form-validate-errors);
      display: block;
      margin: 5px 0 0;
      color: $brand-danger;
      white-space: pre-wrap;
    }
  }
}
